@charset "UTF-8";
.month{
	display: none;
}
.month.active{
	display: flex;
	align-items: center;
	margin: auto;
	flex-direction: column;
}
table{
	border-collapse: collapse;
	width: max-content;
}
tr,td{
	background-color: white;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	
	width: clamp(38px, 11vw, 45px);
    height: clamp(38px, 11vw, 45px);
    
    font-size: clamp(0.85rem, 2.5vw, 1rem);
    border: 1px solid #eee;
}
td.busy{
	background-color: rgba(255,0,0,.7);
}
.month-header h2{
	display: flex;
	font-size: clamp(1.5rem, 5vw, 2rem);
	gap: 40px;
}
.arrow{
	color: gray;
	user-select: none;
	padding: 5px 25px; 
    display: inline-block;
}
.arrow.next, .arrow.prev{
	cursor: pointer;
	color: black;
}
a {
    text-decoration: none; font: menu;
    display: inline-block; padding: 2px 8px;
    background: ButtonFace; color: ButtonText;
    border-style: solid; border-width: 2px;
    border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    margin-top: clamp(25px, 5vh, 30px);
}
a:active {
    border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
